## stimulus-response experiment analysis

In [35]:
# start up
import numpy as np
import pandas as pd
import matplotlib

In [44]:
#import data
dat1=pd.read_csv('./data/data.csv',)
dat2=pd.read_table('./data/M_SR-T_3_0.2020-11-03-2239.data.5e96169a-dec9-4661-82ee-3b27428a69aa.txt',delimiter='\s+', header=None, engine='python')

dat3=pd.read_csv('./data/data_times.csv')
dat4=pd.read_table('./data/s.5e96169a-dec9-4661-82ee-3b27428a69aa.txt')
dat5=pd.read_table('./data/survey.txt')

In [65]:
dat2
gpd=dat2.groupby([0,1], dropna=True)
gpd.count()

             2
0         1
"13       "  0
fiveback  1  0
          2  0
          3  0
fourback  1  0
...         ..
threeback 2  0
          3  0
twoback   1  0
          2  0
          3  0

[135 rows x 1 columns]

In [62]:
?pd.

Object `gpd.mean()` not found.